---
---
{% capture include_to_scssify %}{% include styles/style.scss %}{% endcapture %}{% include header.txt %}{{ include_to_scssify | scssify }}

@font-face { font-family: Kohelet; src: url('/assets/fonts/Kohelet.ttf'); }

.sidebar-about>.title {
    font-family: Kohelet;
    font-size: 65px;
}
.content img{
  margin:auto;
}
